@using ContosoExample.Business.Models;
@model OrderDashboard
@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-3">
        <ul>
            @foreach (var orderDashboardItem in Model.OrderDashboardItems)
            {
                <li>@orderDashboardItem.OrderNumber - @orderDashboardItem.State</li>
            }
        </ul>
    </div>
</div>
